{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/index.css') }}">
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="error-message">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <span class="close-btn">✕</span>
{% endif %}
{% endwith %}

<main>
    <div class="main-container">
        <div class="carousel"></div>
        <div class="main-text">
            <h1>RustTab - tesina</h1>
            <h3>Laure</h3>
            <p>este proyecto tiene como objetivo desarrollar una aplicación web orientada a músicos autodidactas, brindando una herramienta práctica y accesible para visualizar tablaturas e interactuar con material musical de manera clara y directa. La plataforma busca simplificar la experiencia del usuario, con una interfaz limpia, rápida y funcional, sin depender de modelos pagos ni incluir funciones innecesariamente complejas.
           </p>
            <p>
            La elección del tema responde al interés personal en la música y el desarrollo web, así como a la detección de limitaciones en plataformas similares. A nivel académico, el proyecto permite aplicar conocimientos adquiridos en el curso, integrando diseño de interfaces, lógica de programación, gestión de componentes y documentación técnica.</p>
            <span>
                <a href="{{url_for('home')}}">¡¡Comienza ya!!</a>
                <a href="https://github.com/LaureanoCz/RustTab" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
                    Github
                </a>
            </span>
        </div>
    </div>
</main>
<footer>
    <p>Hecho con <span>❤️</span> para vos</p>
    <p>© 2025 Laureano Carranza</p>
</footer>
<script src="{{ url_for('static', filename='js/flash_message.js') }}"></script>
{% endblock %}
