{% extends "layout.html" %}

{% block title %}{{ song['title'] }} - RustTab{% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vexflow/songs.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vexflow@4.1.0/build/cjs/vexflow-debug.js"></script>
{% endblock %}

{% block body %}


{% set url = song['youtube_url'] %}
{% set id = url.split('v=')[-1].split('&')[0] %}



<main class="parent">
    <div class="div1 song-info">
        <h1>{{ song['title'] }}</h1>
        <h2>{{ song['artist'] }}</h2>
        <span>fecha de publicacion: {{song['release_date']}}</span>
    <iframe width="454" height="150"
    src="https://www.youtube.com/embed/{{ id }}"
    frameborder="0" allowfullscreen></iframe>
    
    </div>
    <div class="div2" id="tab-container">
        <div id="tab"></div>
    </div>
</main>
<script>
    const TAB_DATA = JSON.parse(`{{ tab_data | tojson | safe }}`);
    const JSON_FILE = "{{ json_file }}";
</script>

<script src="{{ url_for('static', filename='js/render.js') }}"></script>


{% endblock %}
