body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0d0d0d;
    color: #f0f0f0;
  }

header {
    margin: 0 2rem;
    padding: 10px 20px;
    border-bottom: #8ff000 solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

/* Estilo del iconos  del header*/

.header-icons-1 svg {
    margin: 0 20px;
    width: 30px;
    height: 30px;
    color: #f0f0f0;
  }

.header-icons-2 svg{
    margin: 0 30px;
    width: 30px;
    height: 30px;
    color: #f0f0f0;
  }

.header-icons-3 svg {
    margin: 0 20px;
    width: 30px;
    height: 30px;
    color: #f0f0f0;
  }

/* Estilo del overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
}

/* Estilo del los modales de formulario */
.modal {
    background: #0d0d0d;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    position: relative;
  }

.modal h2 {
    margin: 0 0 20px;
    color: #8ff000;
    font-size: 35px;
  }

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
.form-group label {
    margin: 0 5px 5px;
    display: flex;
    justify-content: start;
    color: #f0f0f0;
    font-weight: 600;
  }
.form-group input {
    padding: 20px;
    background-color: #1f1f1f;
    border: none;
    border-radius: 30px;
    color: #f0f0f0;
  }

.submit {
    background-color: #8ff000;
    color: #0d0d0d;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    justify-content: center;
    margin-bottom: 20px;
  }

.modal p {
    color: #f0f0f0;
    font-weight: 600;
    padding-bottom: 20px;
}

.bottom-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

.forgot-password {
    color: #f0f0f0;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: #8ff000 1px solid;
  }

.bottom-buttons a {
    color: #f0f0f0;
  }

.bottom-buttons span {
    cursor: pointer;
    text-decoration: underline;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none;
    color: #8ff000;
  }

svg {
    cursor: pointer;
  }