body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0d0d0d;
    color: #f0f0f0;
  }

/* Error Message */

.error-message {
    color: #9b0000;
    padding: 12px 16px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: 50%;
    border: 1px solid #9b0000;
    transform: translateX(-50%);
  box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
  -moz-box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
  }
  
  .error-message p {
    margin: 0;
    background: none;
  }
  
  .close-btn {
    color: #9b0000;
    padding: 6px 10px;
    width: auto;
      display: grid;
      place-content: center;
    border-radius: 40px;
    position: absolute;
    background-color: #0d0d0d;
    top: 60px;
    left: 50%;
    border: 1px solid #9b0000;
    transform: translateX(-50%);
  box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
  -moz-box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #9b0000;
    cursor: pointer;
    font-weight: bold;
  }

/* Estilo del main */
main {
    height: calc(100vh - 144px);
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.carousel {
    width: 50%;
    height: 80%;
    background-color: #222;
    border-radius: 10px;
    margin: 0 0.5rem;
}

.main-text {
  width: 50%;
  height: 80%;
  color: #f0f0f0;
  margin: 0 0.5rem;
}

.main-text h1 {
    font-size: 3rem;
    margin-bottom: 0;

}

.main-text h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #ffffff63;
}

.main-text button {
    margin: 1.2rem 0 2rem 0;
    height: 2.5rem;
    width: 30%;
    border-radius: 20px;
    background-color: #8ff000;
    font-weight: bold;
    border: none;
    color: #0d0d0d;
    cursor: pointer;
    font-size: 1rem;
}

.main-text span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-text a {
  display: flex;
  align-items: center;
    margin: 1.2rem 0 2rem 0;
    padding: 0.6rem 1.2rem;
    border-radius: 20px;
    background-color: #8ff000;
    font-weight: bold;
    color: #0d0d0d;
    text-decoration: none;
    cursor: pointer;
  }

/* Estilo del footer */

footer {
    color: #999;
    text-align: center;
    padding-bottom: 0.4rem;
    font-size: 0.9rem;
    border-top: 1px solid #222;
}

footer p:first-child span {
    display: inline-block;
    animation: beat 1s infinite;
}

@keyframes beat {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}