/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: #f0f0f0;
}

a {
    color:#f0f0f0;
}

/* Header */

header { 
    padding: 20px 20px 0 20px; 
    text-align: start; 
}

header a {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    padding: 0.8rem 0.7rem;
    border-radius: 20px;
    width: fit-content;
}

/* Error Message */

.error-message {
    color: #9b0000;
    padding: 12px 16px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    left: 50%;
    border: 1px solid #9b0000;
    transform: translateX(-50%);
  box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
  -moz-box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  .error-message p {
    margin: 0;
    background: none;
  }
  
  .close-btn {
    color: #9b0000;
    padding: 6px 10px;
    width: auto;
      display: grid;
      place-content: center;
    border-radius: 40px;
    position: absolute;
    background-color: #0d0d0d;
    top: 60px;
    left: 50%;
    border: 1px solid #9b0000;
    transform: translateX(-50%);
  box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
  -moz-box-shadow: 0px 0px 6px 3px rgba(155,0,0,0.79);
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #9b0000;
    cursor: pointer;
    font-weight: bold;
  }

/* Main Section */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.container img {
    width: 700px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* form */

.form-container {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 270px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    border-bottom: 2px solid #8ff000;
    margin-bottom: 1.2rem;
}

.form-container a, span {
    color: #a2a2a2;
}

h1 {
    color: #a2a2a2;
}

.li {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    background-color: #0d0d0d;
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    margin: 0.2rem 0;
    color: #a2a2a2;
    padding: 0 1rem;
}

input:focus {
    outline: none;
}

label {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    color: #848484;
}

form button {
    margin: 1.2rem 0;
    height: 2.5rem;
    width: 80%;
    border-radius: 20px;
    background-color: #8ff000;
    font-weight: bold;
    border: none;
}