/* CSS Grid Layout */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: calc(100vh - 100px);
    margin: 1rem;
}

.div1 {
    grid-area: 1 / 1 / 6 / 3;
    padding: 2rem;
    overflow-y: auto;
    background-color: #1f1f1f;
    border-radius: 20px;
    margin-right: 1rem;
}

.div2 {
    grid-area: 1 / 3 / 6 / 6;
    padding: 2rem;
    overflow-y: auto;
}

#tab {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 2rem;
}

.song-info {
    text-align: left;
    color: #f0f0f0;
    padding: 2rem;
}

.song-info h1 {
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
    color: #f0f0f0;
}

.song-info h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: normal;
    color: #f0f0f0;
}

.song-info h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    font-weight: normal;
    color: #f0f0f073;
}

.song-info p {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #f0f0f0;
}

.song-info h4 {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem 0;
    color: #f0f0f0;
}

.song-notes, .song-ligaduras {
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: #1f1f1f;
    border-radius: 10px;
}